body{
    padding: 0;
    margin: 0;
    width: 100%;
}
#output{
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 32px;
}

#retail, #map, #cost, #gp{
    color: #e76f51;
    font-weight: bold;
    
}

.price{
    color: #264653;
    font-size: 28px;
}
.main-pricing{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.output-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    
}

#mainId{
    color: #2a9d8f !important;
    letter-spacing: 5px;
    margin: auto;
    white-space: nowrap;
}

#options{
    margin: auto;
    justify-self: end;

}

#snareSize, #kDrumSize, #hoops{
    display:none;
}